@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5, h6 {
      @apply text-white;
      @apply dark:text-gray-200;
    }

    a{
      @apply dark:text-blue-600;
    }
  }

@media screen and (max-width: 650px){
  pre.prism-code{
    font-size: .55rem !important;
  }
}

.rainbow-text {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
